h1 {
    color: navy;
    font-family: sans-serif;
    background-color: grey; 
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.parent .child {
    padding: 50px;
    outline: 2px solid black;
    align-items: center;

}


